<!-- 404 -->
<div id="{{ identifier }}" class="section">
    <div class="mask pattern-1"></div>
    <div class="container no-pad-bot">
        <br><br>
        <h1 class="header center title_h1">404</h1>
        <div class="row center">
            <p class="col s12 blue-text text-darken-4">
                Diese Seite wurde nicht gefunden.
            </p>
        </div>
        <br>
        <br>
    </div>
</div>
