<!-- 500 -->
<div id="{{ identifier }}" class="parallax-container valign-wrapper">
    <div class="mask pattern-1"></div>
    <div class="parallax"><img src=""></div>
    <div class="section no-pad-bot valign">
        <div class="container">
            <br><br>
            <h1 class="header center title_h1">500</h1>
            <div class="row center">
                <p class="col s12 blue-text text-darken-4">
                    irgendetwas ist schief gelaufen.
                    <br/>

                    ERROR
                    <br>
                    Message: {{ error.message }}
                    <br>
                    File: {{ error.file }}
                    <br>
                    Line: {{ error.line }}
                </p>
            </div>
            <!--<div class="row center">
                <a href="http://www.ea-solution.de" id="download-button"
                   class="btn-large waves-effect waves-light blue lighten-1">Get Started</a>
            </div>-->
            <br>
            <br>
        </div>
    </div>
</div>

