{% extends 'templates/app.twig' %}

{% block content %}

    <div id="html_register" class="parallax-container scrollspy">
        <div class="mask pattern-1"></div>
        <div class="parallax"><img src="img/start2.png" alt="Unsplashed background img 1"></div>
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center title_h2">Registriere dich hier</h1>

                <div class="kontakt_div row">
                    <div class="col s12 l6 offset-l3">
                        <div class="icon-block">
                            <p class="blue-text text-darken-4">
                                Du kannst dich hier jetzt kostenlos registrieren.
                            </p>
                        </div>

                        <form id="anfrage_formular" novalidate method="POST" onsubmit="check_anfrage()">
                            <div class="input-field col s12">
                                <i class="material-icons medium prefix">person</i>
                                <input id="form_name" name="name" type="text" pattern="^[a-zöüäA-ZÖÜÄ ]+$" class="validate" required>
                                <label for="form_name" date-error="Name erforderlich.">Vorname Name*:</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons medium prefix">email</i>
                                <input id="form_email" name="email" type="email" class="validate" required>
                                <label for="form_email" date-error="Fehlerhafte E-Mail">E-Mail*:</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons medium prefix">call</i>
                                <input id="form_tel" name="tel" type="tel" pattern="^[0-9-+ ()]*$" class="validate"
                                       required>
                                <label for="form_tel" date-error="Fehlerhafte E-Mail">Tel*:</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons medium prefix">today</i>
                                <input id="form_datum" name="datum" type="date" class="datepicker">
                                <label for="form_datum">Wunschtermin (optional):</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons medium prefix">textsms</i>
                                <textarea id="form_textarea" name="message" class="materialize-textarea"
                                          length="500" class="validate" required></textarea>
                                <label for="form_textarea">Ihre Nachricht*:</label>
                            </div>
                            <div class="input-field col s12">
                                <p>
                                    <input type="checkbox" id="form_einverstaendnis" class="validate" required>
                                    <label for="form_einverstaendnis" class="tooltipped"
                                           data-position="bottom" data-delay="50"
                                           data-tooltip="Ich bin damit einverstanden, dass Aktiv-Zulassunsdienst
                                   meine persönlichen Daten speichern und nutzen darf,
                                   um mich per Mail oder telefonisch zu kontaktieren.">
                                        Einverständniserklärung
                                    </label>
                                </p>
                            </div>
                            <p></p>
                            <br/>
                            <div class="input-field col center" style="width: 100%">
                                <button type="submit" class="btn btn-primary blue-background">
                                    Anfrage senden <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>

                <br><br>
            </div>
        </div>
    </div>


{% endblock %}