{% block fab %}

<div class="fixed-action-btn">
    <a class="to_the_top btn-floating btn-large green-background" href="#top_section">
        <i class="large material-icons">arrow_upward</i>
    </a>
    <ul>
        <li><a class="to_the_prev btn-floating red"><i class="material-icons">keyboard_arrow_up</i></a></li>
        <li><a class="to_the_next btn-floating red"><i class="material-icons">keyboard_arrow_down</i></a></li>
    </ul>
</div>

{% endblock %}