{% block footer %}

    <!-- #################################################################
         #                           Footer                              #
         ################################################################# -->
    <footer class="page-footer blue-grey darken-3">

        <!--Footer Links-->
        <div class="footer-container">
            <div class="row text-center">

                <!--First column-->
                <div class="col s12 m4 white-text">
                    kurze erläuterung

                </div>

                <!--Second column-->
                <div class="col s12 m4 text-center valign-wrapper">
                    <div class="footer-links container center-align">
                        <a id="agb_link" class="white-text" href="agb.php"> AGBs </a>
                        <a id="impressum_link" class="white-text" href="#!"> Impressum </a>
                    </div>
                </div>

                <!--Third column-->
                <div class="footer_social col s12 m4 center">
                    <div class="row">
                        <h5 class="footer-social__title">Folge mir auf</h5>
                    </div>
                    <div class="row">

                        <a class="btn btn-flat waves-effect" href="https://github.com/EmRe-One" target="_blank">
                            <i class="mdi mdi-github-box mdi-36px mdi-dark"></i>
                        </a>

                        <a class="btn btn-flat waves-effect" href="https://twitter.com/EmreAk_3673" target="_blank">
                            <i class="mdi mdi-twitter-box mdi-36px mdi-dark"></i>
                        </a>

                        <a class="btn btn-flat waves-effect"
                           href="https://www.youtube.com/channel/UCS4XUCyKJJQmNCfrxs8D8rA" target="_blank">
                            <i class="mdi mdi-youtube-play mdi-36px mdi-dark"></i>
                        </a>

                        <a class="btn btn-flat waves-effect" href="https://plus.google.com/+EmreAkg%C3%BCl_google_plus"
                           target="_blank">
                            <i class="mdi mdi-google-plus-box mdi-36px mdi-dark left"></i>

                        </a>

                        <a class="btn btn-flat waves-effect" href="#">
                            <i class="mdi mdi-whatsapp mdi-36px mdi-dark"></i>

                        </a>

                        <a class="btn btn-flat waves-effect" href="https://www.instagram.com/emre_one/" target="_blank">
                            <i class="mdi mdi-instagram mdi-36px mdi-dark left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container center">
                &copy; 2016 by EA - Design
            </div>
        </div>
        <!--/.Copyright-->
    </footer>

{% endblock %}