body,
html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

body {
    background: url(../img/overlays/pattern.png) repeat fixed;
    z-index: -100;
}

main {
    min-height: 80vh;
    padding-top: 100px;
}

main:first-child {
    margin-top: -100px;
    height: calc(100vh + 100px);
}

.vh100 {
    min-height: 100vh;
}

.vw100 {
    width: 100vw;
}

.skrollable {

}