<!-- Home -->
<div id="{{ identifier }}" class="section valign-wrapper">
    <div class="mask {{ pattern }}"></div>
    <div class="container valign">
        <h1 class="header center title_h1">Willkommen</h1>
        <div class="row center">
            <p class="col s12 blue-text text-darken-4">
                Diese Seite befindet sich derzeit noch im Aufbau.
            </p>
        </div>
        <!--<div class="row center">
            <a href="http://www.ea-solution.de" id="download-button"
               class="btn-large waves-effect waves-light blue lighten-1">Get Started</a>
        </div>-->
        <br>
        <br>
    </div>
</div>
