{% block footer %}

<!-- #################################################################
     #                           Footer                              #
     ################################################################# -->
<footer class="page-footer">

    <!--Footer Links-->
    <div class="footer-container">
        <div class="row text-center">

            <!--First column-->
            <div class="col s12 m3 white-text">
                Wir freuen uns auf Ihren Anruf:
                <a style="display: block" href="">
                </a>
            </div>

            <!--Second column-->
            <div class="col s12 m6 text-center valign-wrapper">
                <div class="footer-links container text-center">
                    <a id="agb_link" class="white-text" href="agb.php"> AGBs </a>
                    <a id="impressum_link" class="white-text" href="#!"> Impressum </a>
                </div>
            </div>

            <!--Third column-->
            <div class="col s12 m3 white-text">
                <h5 class="title">Folge uns auf</h5>
                <a href="http://www.facebook.de" target="_blank">
                    <i class="fa fa-facebook-square prefix" aria-hidden="true"></i>
                </a>
                <a href="http://www.google.de" target="_blank">
                    <i class="fa fa-google-plus-square prefix" aria-hidden="true"></i>
                </a>
                <a href="http://www.instagram.com" target="_blank">
                    <i class="fa fa-instagram prefix" aria-hidden="true"></i>
                </a>
            </div>


            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container text-center">
            &copy; 2016 by EA - Design
        </div>
    </div>
    <!--/.Copyright-->
</footer>

{% endblock %}